body {
    background-color: #0c5703; /* تعديل لون الخلفية الرئيسي */
    background-image: radial-gradient(circle at 20% 50%, #6495ED, transparent 60%), radial-gradient(circle at 80% 50%, #6495ED, transparent 60%);
    font-family: Arial, sans-serif;
}


.container {
    width: 300px;
    margin: 50px auto;
    text-align: center;
    padding: 20px;
    background-color: #FFF;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(1, 1, 1, 0.1); /* إضافة ظل للمربع */
}

form {
    display: grid;
    gap: 15px;
}

label {
    display: block;
    text-align: right;
    color: #333;
    margin-bottom: 7px;
}

input, select {
    width: calc(100% - 10px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    padding: 10px;
    background-color: #35822c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
     background-color: #0c5703; /* اللون الجديد عند التحريك بالمؤشر */
}

/* تغيير لون الرابط عند التحريك بالمؤشر وتحديثه بسلاسة */
a {
    color: blue; /* لون افتراضي */
    transition: color 0.3s ease; /* تطبيق تأثير التحول بسلاسة */
}

a:hover {
    color: red; /* لون عند التحريك بالمؤشر */
}

/* تحديد موقع الرابط على اليمين */
.container a {
    text-align: right;
    display: block; /* يجعل الرابط يمتد ليأخذ كل المساحة المتاحة في العرض */
    text-decoration: none;
}
img{
    margin-top: -10px; /* رفع الصورة بمقدار 100 بكسل */
}
.qwe{
 position: fixed;
    top: 0;
    left: 0;}
