body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #232e29; /* لون خلفية الصفحة */
    padding: 20px;
    margin: 0;
}
.header {
    background-color: #008080; /* لون خلفية الهيدر */
    padding: 10px 0;
    margin-bottom: 20px;
    text-align: center; /* توسيط اللوجو */
}
.header img {
    width: 100px; /* حجم اللوجو */
    height: auto;
}
.contact-info {
    background-color: #ffffff; /* لون خلفية المعلومات */
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px; /* توسيع مساحة المعلومات */
    margin: 0 auto; /* لوضعها في الوسط */
    text-align: right; /* لتوجيه النصوص إلى اليمين */
    position: relative; /* لتمكين وضع اللوجو بشكل مطلق داخل هذا العنصر */
}
h1 {
    color: #008080; /* لون العنوان */
}
p {
    color: #666;
    line-height: 1.6;
    text-align: right; /* لتوجيه النصوص إلى اليمين */
}
.contact-details {
    margin-top: 20px;
    text-align: center; /* لتوجيه الزر وسط المحتوى */
}

.contact-btn {
    display: inline-block;
    background-color: #008080; /* لون زر الاتصال */
    color: #ffffff; /* لون النص */
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
    transition: background-color 0.3s;
}
.contact-btn:hover {
    background-color: #005353; /* لون الزر عندما يتم تحويل المؤشر إليه */
}
.contact-btn_2 {
    display: inline-block;
    background-color: #00802f; /* لون زر الاتصال */
    color: #ffffff; /* لون النص */
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
    transition: background-color 0.3s;
}
.contact-btn_2:hover {
    background-color: #025420; /* لون الزر عندما يتم تحويل المؤشر إليه */
}
.back-btn {
    display: block;
    background-color: #008080; /* لون زر الرجوع */
    color: #ffffff; /* لون النص */
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
    transition: background-color 0.3s;
    position: absolute; /* تحديد الموضع */
    bottom: 20px; /* المسافة من الأسفل */
    left: 20px; /* المسافة من اليسار */
}
.back-btn:hover {
    background-color: #005353; /* لون الزر عندما يتم تحويل المؤشر إليه */
}
.logo {
    width: 100px; /* حجم اللوجو */
    height: auto;
    position: absolute; /* تحديد مكان اللوجو داخل العنصر */
    top: 20px; /* المسافة من الأعلى */
    left: 20px; /* المسافة من اليسار */
    z-index: 1; /* لضمان ظهور اللوجو أمام المعلومات */
}
