body {
    background-color: #004c82;
    font-family: Arial, sans-serif;
}

.container {
    width: 300px;
    margin: 50px auto 50px 100px; /* المسافة العلوية, اليمنى, السفلية, اليسار */
    text-align: center;
    padding: 20px;
    background-color: #FFF;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(1, 1, 1, 0.1);
}

.or-word {
    position: fixed;
    bottom: 80px; /* يمكنك تعديل هذه القيمة حسب الاحتياج */
    right: 80px; /* يمكنك ضبط موقع الكلمة بالنسبة لليمين/اليسار */
    transform: translateX(-50%); /* يضبط موقع الكلمة بالنسبة لليمين/اليسار */
    background-color: #004c82; /* لون خلفية الكلمة */
    padding: 5px 10px; /* هوامش داخلية للكلمة */
    border-radius: 5px; /* حدود دائرية للكلمة */
    font-size: 45px; /* حجم النص */
    color: #000; /* لون النص */
}

.qwe{
 position: fixed;
    top: 0;
    right: 0;
    }

.login-link, .home-button {
    position: fixed;
    bottom: 20px;
    padding: 15px 25px; /* زيادة الحجم العمودي والأفقي للأزرار */
    background-color: #008080;
    color: #ffffff;
    text-decoration: none; /* إزالة الخط السفلي */
    border-radius: 5px;
    transition: background-color 0.3s;
    border: none; /* إزالة الحدود */
    outline: none; /* إزالة التحديد الافتراضي */
    font-size: 18px; /* تحديد حجم النص */
}

.login-link:hover, .home-button:hover {
    background-color: #45a049;
}

.login-link {
    right: 100px;
}

.home-button {
    left: 70px;
}

/* تغيير لون النص عند التحريك بالمؤشر */
.login-link a, .home-button a {
    color: #000000; /* تغيير لون النص إلى الأبيض */
    text-decoration: none; /* إزالة الخط السفلي */
}




form {
    display: grid;
    gap: 15px;
}

label {
    display: block;
    text-align: right;
    color: #333;
    margin-bottom: 7px;
}

input, select {
    width: calc(100% - 10px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    padding: 10px;
    background-color: #35822c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
